*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
body{
    line-height: 1.5;
}
/*Contact main src */
.mainTxt{
    color: black;
}
.faviHome{
    width: 42px;
    cursor: pointer;
}

#titleHead{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('backgroundschool.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}
#titleHead .container{
    width: 100%;
}
.titleHead-content{
    width: 100%;
    padding-bottom: 18.5rem;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    color: white;
}
.titleHead-content h1{
    font-size: 2.9rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: white;
}

.heightApply{
    min-height: 70vh;
}
.flexApply{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFirst{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.contactMain{
    margin-top: 20px;
    margin-bottom: 50px;
    color:black;
    height: 9vh;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactMain h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
    text-underline-position: under;
    
}

/*for the line */
.contactLine {
    margin: auto 220px;
    margin-top: -10px;
  }
  
  .lineOne {
    text-align: center;
    margin: 25px;
  }
  .lineTwo {
    text-align: center;
    margin: 25px;
  }

.moves{
    margin-left:-6px;
}

  /*Info menu */
.infoText{
    font-weight: 300;
    opacity: 0.9;
}

.contactInfoAll{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 5px;
}
.contactInfoSections{
    margin: 3px 0;
    text-align: center;
    padding: 3px 0;
}
.contactInfoSections span{
    display: block;
}
.contactInfoSections div{
    margin: 3px 0;
    padding: 2px;
}

.contactInfoSections div span:nth-child(2){
    font-weight: 400;
    font-size:19px;
}
.contactInfoSections .infoText{
    padding-top: 2px;
}

.contactMsg{
    padding: 2rem 0;
    width: 40%;
    margin-left: 30%;
    margin-right: 35%;
}

.contactMsg form{
    padding-bottom: 1rem;
}
.contactBox{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-size: 1rem;
    outline: 0;
    
}
.contactBox:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contactMsg form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.contactMsgButton{
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: black;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 30%;
    margin-left:36%;
}
.contactMsgButton:hover{
    opacity: 0.8;
}


/* footer info*/
.contact-footer{
    padding: 2rem 0;
    background: #000;
    margin-top: -7px;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.facebook{
    padding-left: 2px;
}


.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    font-size: 24px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #757a79;
    border-color: #757a79;
}



@media screen and (min-width: 768px){
    .contactMain .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contactInfoSections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
}

@media screen and (max-width: 992px){
    .contactMain .text{
        width: 50%;
    }
    .contactMsg{
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
        margin-left: 20%;
    }
    .contactMsgButton{

        width: 50%;
        margin-left:23%;
    }
    .contactMsgButton:hover{
        opacity: 0.8;
    }
}

@media screen and (min-width: 1200px){
    .contactInfoSections{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1250px){
    .contactMsgButton{

        width: 50%;
        margin-left:25%;
    }
}
@media screen and (max-width: 600px){
    .contactMsgButton{

        width: 80%;
        margin-left:10%;
    }
    .contactMsg{

        width: 80%;
        margin-left: 10%;
    }
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    color: white;
}
.HomeButton{
    text-transform: uppercase;
    display:inline-block;
    letter-spacing: 4px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    transition: border 3s;
    padding-bottom: 3px;
    margin-top: 5px;
}
.HomeButton::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}
.HomeButton:hover::after{
    width: 97%;
}
.menu{
    display: flex;
    width: 40%;
    justify-content: space-around;
    
}
.menu a{ 
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.menu li{
    list-style: none;
    color: white;
}
.menu li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}
.menu li:hover::after{
    width: 98%;
}
.menuIcon{
    display: none;
    cursor: pointer;
}
.menuIcon div{
    width: 28px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px){
    .menu{
       width: 70%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x:hidden;
    }
    .menu{
        position: absolute;
        right:0px;
        height: 96vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 58%;
        transform: translateX(100%);
        transition: transform 1s ease-in;
        border-bottom-left-radius: 55%;
        opacity: 0.9;
    }
    .menu li{
        opacity:0;
    }
    .menuIcon{
        display: block;
    }
}

@keyframes slideLeft{
    0%{
        transform:translateX(-400%);
    }
    100%{
        transform:translateX(0)
    }
}
h1{
    animation:1s ease-out 0s 1 slideLeft;
}
.circleOne{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin-right: 8px;
    margin-top: 25px;
}
.circleTwo{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin-left: 8px;
    margin-top: 25px;

}
.lineFooterOne{
    width: 10%;
    margin-top: 29px;

    height: 2px;
    background-color: white;
    display: inline-block;
}
.lineFooterTwo{
    width: 10%;
    margin-top: 29px;
    height: 2px;
    background-color: white;
    display: inline-block;
}

.menuAct{
    transform: translateX(0%);
}

@keyframes menuOptions{
    from{

        opacity: 0;
        transform:translateX(50px);
    }
    to{

        opacity: 1;
        transform:translateX(0px);
    }
}

.toggle .one{

    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .two{
    opacity: 0;
}
.toggle .three{
    transform: rotate(45deg) translate(-5px, -6px);
}
